#
# REQUIRED SETTINGS
#

#
# Domain of the system you are running on. Defaults to localhost but if you have any other
# url (e.g. example.org) you will need to change this.
DOMAIN=localhost

# Administrator account email and password
# Note: this is set at initialisation, changing this later WILL NOT alter the
# system. You must to this through the UI.
# DO NOT use spaces in the password otherwise you will be unable to log in.
SETUP_ADMIN_EMAIL=admin@leaflims
SETUP_ADMIN_PASSWORD=

# This is the location that any uploaded files (e.g. attachments) are stored.
# Set this to a directory on your system.
FILE_STORE=/files/
# You will also need to supply a location for the source of external plugins.
# It is recomeneded to set this to somewhere more sensible than within this directory.
EXTERNAL_PLUGINS=./plugins

# SSL certificate settings. Leaf LIMS can only run if an SSL certificate is present,
# you can easily generate a self-signed certificate if your organisation does not
# supply you with one.
# Set this to the path of your SSL certificate e.g. /certificates/ssl.crt
CERT_LOCATION=
# Set this to the path of your SSL public key e.g. /certificates/ssl.key
KEY_LOCATION=

#
# OPTIONAL SETTINGS
#
ORGANISATION_NAME='Leaf LIMS'

# Project identifier settings
# Prefix is added before the number e.g. this would start at P100
PROJECT_IDENTIFIER_PREFIX=P
PROJECT_IDENTIFIER_START=100

# Email settings
# Used when alerts and other emails are sent
EMAIL_HOST=localhost
EMAIL_PORT=465
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER='Leaf LIMS <leaflims@localhost>'
EMAIL_USE_SSL=True
EMAIL_FROM='Leaf LIMS'

# CRM details. Optional link to SalesForce
# Set to False to disable CRM
ENABLE_CRM=True
SALESFORCE_URL=https://login.salesforce.com
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
SALESFORCE_TOKEN=

#
# ADVANCED CONFIGURATION SETTINGS
#
# You should not need to change the following
DB_NAME=postgres
DB_PASSWORD=
DB_USER=postgres
DB_HOST=db
DB_PORT=5432
